.header-target-form .phone img{
  width: 18px;
}

.header-target-form .phone ul{
  margin: 8px 0;
}

.header-target-form .text-phone p{
  color: #fff;
  display: inline-block;
  text-shadow: 1px 1px 5px #444;
  font-size: 15px;
}

.header-search{
  display: none;
}

.header-phone{
  font-weight: 600;
}

.header-top-content{
  padding: 20px 0 40px 0;
}

.search-input .box-search,.m-search-open-input .box-search{
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  display: block;
  margin: 0 10px;
  padding: 5px;
  position: relative;
}

.search-input .box-search input,.m-search-open-input .box-search input{
  border: none;
  color: #444;
  font-size: 12px;
  padding: 0 20px 0 10px;
  width: 100%;
}

.search-input .box-search #search-icon{
  width: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.search-input .box-search #m-search-open-icon{
  bottom: 7px;
  display: none;
  position: absolute;
  right: 5px;
  width: 20px;
  z-index: 10;
}

.m-search-open-input{
  position: absolute;
  right: -26px;
  top: -18px;
  width: 250px;
  z-index: 10;
}

.m-search-open-input .box-search{
  border: 1px solid #dcdcdc!important;
  left: 0px!important;
}

.m-search-open-input .box-search input{
  width: 100%!important;
}

/* Корзина в шапке*/
.container-cart .cart-container-box{
  color: #444;
  text-decoration: none;
}

.container-cart .cart{
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 2px #D0D0D0;
  padding: 7px;
  width: 95%;
  transition: .3s;
}

.container-cart .cart:hover{
  background-color: #dcdcdc;
  color: #111;
}

.container-cart .cart div img{
  width: 15px;
  margin-bottom: 4px;
}

.container-cart .cart div p{
  display: inline-block;
  font-size: 11px;
}

.container-cart{
  position: relative;
  width: 180px;
}

.container-cart .container-cart-count-product{
  background-color: #dc3545;
  border-radius: 50%;
  color: #fff;
  display: none;
  font-size: 14px;
  line-height: 23px;
  height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 20px;
  width: 25px;
}

  /* Форма захвата */

.header-call-btn{
  color: #e41d1a!important;
  text-shadow: 1px 1px 1px #b3b3b3!important;
  font-weight: 500;
  font-size: 18px!important;
  background-color: rgba(247, 247, 247, 0.75);
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.header-call-btn:hover{
  background-color: rgba(247, 247, 247, 0.9);
  border: 1px dotted #e41d1a;
  padding: 1px 7px;
}

.header-target-form{
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
  padding: 10px 150px 150px 150px;
}

.header-target-form .header-target-form-desc, .header-target-form .header-target-form-title{
  color: #444;
  display: table;
  padding: 5px;
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 0.75);
  margin: 5px;
  font-weight: 500;
}

.header-target-form .header-target-form-title{
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
}

.header-form{
  background-color: rgba(247, 247, 247, 0.75);
  border-radius: 4px;
  position: relative;
}

.header-form .header-btn{
  background-color: #5bb7c2;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  transition: .3s;
}

.header-form ul{
  width: 100%;
  padding: 30px;
}

.header-form ul li{
  padding: 10px 0;
}

.header-form .header-form-img{
  position: relative;
}

.header-form .header-form-img img{
  display: block;
  position: relative;
  top: 15px;
  right: 75px;
  width: 132%;
}

/* Installment */
.header-installment{
  background-color: rgba(247, 247, 247, 0.75);
  border-radius: 5px;
  left: 20px;
  padding: 10px 20px;
  position: relative;
  top: 30px;
  text-align: center;
}

.header-installment-title{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e41d1a;
  padding: 5px;
}

.header-installment-box{
  text-align: center;
}

.header-installment-btn{
  background-color: #5bb7c2;
  color: #f4f4f4;
  display: block;
  font-weight: 600;
  padding: 12px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
}

.header-installment-btn:hover{
  background-color: #328690;
  color: #f4f4f4;
}

.header-installment-rect{
  background-color: #2cbe4e;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding-bottom: 9px;
  text-shadow: 1px 1px 5px #545454;
  text-transform: uppercase;
  width: 32%;
}

.header-installment-rect .title{
  font-size: 50px;
}

.header-installment-rect .desc{
  font-size: 10px;
}

.header-installment-sale{
  color: #e41d1a;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
}

/*form phone*/
.header-form-phone{
  background-color: rgba(99, 99, 99, 0.5);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 150;
}

.header-form-phone-title{
  color: #444;
  font-size: 25px;
  margin: 0;
  padding: 25px 30px 0 30px;
  text-align: center;
  text-transform: uppercase;
}

/* CallBack*/
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-5deg);
    transform: scale(1.1) rotate(-5deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.header-call-back{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  bottom: 25px;
  position: fixed;
  right: 25px;
  z-index: 140;
}

.header-call-back-btn{
  width: 60px;
  height: auto;
}

.header-call-back:hover{
  transition: all 0.5s ease;
  animation: tada 1s linear infinite;
}