.autoplay-slick-slider {
  margin: 40px 0;
}

.slick-slider-item {
  position: relative;
}

.slick-slider .slide-seal-img{
  width: 100px;
  margin-right: 10px;
  display: inline-block;
}

.slide-brand-item {
  text-align: -webkit-center;
}

.slide-brand-img {
  width: 60%;
}

.slide-seal-desc {
  display: inline-block;
  position: absolute;
  top: 25px;
}

.slide-seal-desc h4{
  font-size: 20px;
  color: #656565;
  font-weight: 600;
  margin-bottom: 3px;
}

.slide-seal-desc p{
  font-size: 16px;
  color: #656565;
}

/*Slider Service*/
.slider-display-button{
  background-color: #57afb9!important;
  display: none!important;
  z-index: 120;
}

.slider-home-service-shadow{
  background-color: rgba(37, 37, 37, 0.6);
  height: 350px;
  position: absolute;
  opacity: 0;
  transition: .3s;
  width: 100%;
  z-index: 110;
}

.item-slider-home-container:hover .slider-home-service-shadow{
  opacity: 0!important;
}

.slider-home-service:hover .slider-home-service-shadow{
  opacity: 1;
}

.item-slider-home-container:hover .slider-home-item-text{
  display: none!important;
}

.item-slider-home-container:hover .slider-display-button{
  display: block!important;
}

.item-slider-home-container .slider-home-img-bg{
  height: 100%;
  display: inline-block;
  position: absolute;
  left: -160px;
}

.item-slider-home-container:hover{
  box-shadow: 0 0 10px 1px #57afb9;
  transform: scale(1.1);
  position: absolute;
  width: 100%;
  z-index: 120;
}

.item-slider-home-container{
  background-color: rgba(118, 189, 198, 0.7);
  height: 350px;
  overflow: hidden;
  position: relative;
  transition: .3s;
}

.slider-home-service .slider-home-item-text .slider-home-button{
  display: block;
  padding: 22px 0;
  text-decoration: none;
}

.slider-home-service .slider-home-item-text {
  background-color: rgba(118, 189, 198, 0.7);
  border-radius: 3px;
  height: 100px;
  margin: 0 15px;
  padding: 10px 0;
  position: absolute;
  top: 35%;
  width: 87%;
}

.slider-home-service .slider-home-button{
  padding: 0;
}

.slider-home-service .slider-home-title, .slider-home-service .slider-home-button{
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

/*Home Skill*/
.home-skill-static-container{
  padding: 30px 0;
}

.home-skill-static-container:first-child{
  border-bottom: 1px solid #f4f4f4;
}

.home-skill-static-item{
  position: relative;
  text-align: center;
}

.home-skill-static-item:hover .home-skill-static-h-border{
  top: 25%;
  height: 60%;
}

.home-skill-static-h-border{
  border-left: 1.5px solid #5bb7c2;
  border-right: 1.5px solid #5bb7c2;
  height: 0;
  margin-left: -3%;
  position: absolute;
  top: 55%;
  width: 90%;
  transition: .5s;
}

.home-skill-static-img{
  height: 50%;
  padding-bottom: 20px;
  width: 50%;
}

.home-skill-static-desc p{
  color: #656565;
  font-size: 15px;
  line-height: 20px;
}

.home-skill-static-desc h4{
  color: #444;
  font-size: 18px;
}