.main-menu {
  background-color: #fff;
  z-index: 140;
  position: relative;
}

.main-menu .active-menu{
  padding-top: 17px;
  color: #289dab;
  text-decoration: none;
  border-top: 3px solid #289dab;
}

.main-menu ul li{
  display: inline-block;
  position: relative;
}

.main-menu ul li a, .header-submenu li a{
  color: #656565;
  display: block;
  font-weight: 600;
  padding: 20px 14px;
  position: relative;
  text-transform: uppercase;
}

.main-menu ul li a:hover{
  padding-top: 17px;
  color: #289dab;
  text-decoration: none;
  border-top: 3px solid #289dab;
}

.main-menu ul li a:hover + .header-submenu{
  display: block;
}

.main-menu .header-logo img{
  text-align: center;
  width: 300px;
}

.header-submenu{
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 10;
  font-size: 14px;
}

.header-submenu:hover{
  display: block;
}

.main-menu .header-submenu li{
   display: block;
}

.main-menu .header-submenu li a:hover{
  background: #fff!important;
  border: none;
  color: #289dab;
  padding: 20px 14px;
  text-decoration: none;
}

.header-submenu-item-container{
  width: 200px;
}

.header-submenu-col{
  display: table-cell;
}

.fixed-main-menu {
  position:fixed;
  top:0
}

.main-menu-bg{
  left: 0;
  position: absolute;
  top: 70px;
  width: 100%;
}

/*mobile menu*/
.fixed-wrapper{
  position:fixed;
  width:100%;
}

.m-main-menu{
  display: block!important;
  position: absolute;
  z-index: 10;
  padding-left: 0;
  background-color: rgba(88, 88, 88, 0.5);
}

.m-main-menu>.container{
  position: relative;
  margin: 0;
}

.m-main-menu>.container>.row{
  height: 100vh;
}

.m-main-menu ul{
  background-color: #f4f4f4;
  position: inherit;
}

.m-main-menu ul li{
  display: inline;
  position: inherit;
}

.m-main-menu .m-menu-icon-arrow{
  position: absolute;
  right: 10px;
  width: 20px;
}

.m-main-menu .header-submenu{
  top: 0;
  height: 100%;
}

.m-main-menu ul li a:hover + .header-submenu{
  display: none;
}

.m-main-menu ul li a, .m-main-menu .header-submenu li a{
  transition: 0s;
}

/*Иконка крестика в мобильной версии*/
.m-menu-icon{
  cursor: pointer;
  display: inline-block;
  margin: 15px 0;
  position: relative;
  top: 4px;
}

.m-menu-icon .icon-item-1,
.m-menu-icon .icon-item-2,
.m-menu-icon .icon-item-3{
  background-color: #378695;
  height: 3px;
  margin: 6px 0;
  transition: .4s;
  width: 25px;
}

.m-menu-open .icon-item-1{
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.m-menu-open .icon-item-2{
  opacity: 0;
}

.m-menu-open .icon-item-3{
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*Иконка стрелочки в мобильной версии*/
.m-menu-back .icon-item-1{
  -webkit-transform: rotate(-45deg) translate(-3px, 2px);
  transform: rotate(-45deg) translate(-3px, 2px);
  width: 15px;
}

.m-menu-back .icon-item-2{
  opacity: 1;
}

.m-menu-back .icon-item-3{
  -webkit-transform: rotate(45deg) translate(-3px, -2px);
  transform: rotate(45deg) translate(-3px, -2px);
  width: 15px;
}

/*Scroll*/
.header-submenu::-webkit-scrollbar {
  width: 7px;
}

.header-submenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.header-submenu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}