.notif {
  width: 300px;
  position: fixed;
  margin: 30px 40%;
  padding: 14px 20px;
  text-align: center;
  border-radius: 50px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: default;
  display: none;
  z-index: 100;
}

.notif p {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.notif p:before {
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 1);
  margin-top: -18px;
  top: 50%;
  right: 25px;
  width: 35px;
  content: '!';
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  height: 35px;
  line-height: 30px;
  border-radius: 50%;
}

.notif-color-1 {
  background: #F89406;
}

.notif-color-1 p {
  color: #FFF;
}

.notif-color-2 {
  background: #59ABE3;
}

.notif-color-2 p {
  color: #FFF;
}

.notif-color-3 {
  background: #00B16A;
}

.notif-color-3 p {
  color: #FFF;
}