/* @media */

@media screen and (max-width: 768px) {
  .m-about-item {
    display: none;
  }

  .m-about-img {
    width: 100%;
  }

  .m-about-bg-img {
    background-size: 150%;
  }

  .m-about-sertific-img {
    margin-bottom: 10px;
  }

  .m-position-img {
    height: 550px;
    margin: 0 auto;
  }
}