@media screen and (max-width: 768px) {
/* footer about us*/
	#footerAbout{
		display: none;
	}

	/* footer */
	.m-footer-item {
		display: none;
	}

	.m-footer {
    padding: 15px 0;
	}

	.footer-item img {
    width: 13px;
	}
}

@media screen and (max-width: 375px) {
	.m-footer-text-padding {
		padding: 18px;
	}
}