/* @media */

@media screen and (max-width: 768px){
  /*blue line-box */
  .header-top-line {
    display: none;
  }

  /*logo*/
  .header-search .header-logo img{
    width: 100%;
    margin: 0;
  }

  /*cart*/
  .container-cart{
    width: auto;
    float: right;
  }

  .container-cart .cart div p{
    display: none;
  }

  .container-cart .cart{
    background-color: transparent;
    box-shadow: none;
  }

  .container-cart .cart:hover{
    background-color: transparent;
  }

  .container-cart .cart div img{
    width: 20px;
  }

  .container-cart .container-cart-count-product{
    font-size: 10px;
    line-height: 13px;
    height: 15px;
    left: 20px;
    width: 15px;
  }

  /*mobile menu*/
  .m-header-menu{
    display: block;
  }

  .main-menu .m-menu-icon-arrow{
    display: inline-block;
  }

  /*standart menu*/
  .main-menu{
    display: none;
  }

  /*form target*/
  .header-target-form{
    padding: 5px;
  }

  .header-target-form .header-target-form-title{
    font-size: 25px;
  }

  .header-target-form .header-target-form-desc{
    font-size: 13px;
  }
}

@media screen and (min-width: 768px){
  /*blue line-box */
  .header-top-line {
    display: block;
  }

  /*mobile menu*/
  .m-header-menu{
    display: none;
  }

  .main-menu .m-menu-icon-arrow{
     display: none;
   }
}

/* Применяется при уменьшении*/
@media screen and (max-width: 540px) {
  /* search */
  .header-search{
    padding: 10px 15px;
  }

  /*icon menu mobile*/
  .m-menu-icon{
    margin: 0;
  }

  .search-input .box-search{
    border: none;
    left: 25px;
  }

  .search-input .box-search input{
    width: 0;
  }

  .search-input .box-search #search-icon{
    display: none;
  }

  .search-input .box-search #m-search-open-icon{
     display: block;
  }

  /*form target*/
  .header-target-form{
    padding: 30px;
  }

  .m-header-target-form-title{
    display: none;
  }
}

/* Применяется при увеличении*/
@media screen and (min-width: 540px) {

}