@media screen and (max-width: 980px){
  .m-product-qty{
    float: right;
  }

  .m-product-qty .quantity-button.quantity-down {
    right: 46px;
    top: 7px;
  }

}

@media screen and (max-width: 768px){
  .m-product-list{
    margin: 5px 0;
  }

  .m-hr-blue{
    display: block;
  }

  .m-product-control{
    display: inline-block;
  }

  /* Product hit sales*/
  .carousel-control-next, .carousel-control-prev {
    width: 9%!important;
  }

  .slider-product-control-prev, .slider-product-control-next {
    left: 80%!important;
  }

  .m-table{
    display: table;
    margin: 0 auto;
  }

  .m-table-header{
    display: table-header-group;
  }

  .m-table-footer{
    display: table-footer-group;
  }

  .product-config .product-single-price {
    margin: 0 0 40px 0;
  }

  .product-single-container .product-config {
    margin-top: 10px;
  }

  .product-config .product-single-img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 540px){
  /* Product hit sales*/
  .carousel-control-next, .carousel-control-prev {
    width: 45px!important;
  }

  .slider-product-control-prev, .slider-product-control-next {
    left: 65%!important;
  }

  .product-config .include-with-product .include-with-product-label {
    font-size: 16px;
    margin: 0 0 10px 15px;
  }

  .product-config .include-with-product .include-with-product-count {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .product-config .product-single-price {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .product-config .product-single-btn {
    padding: 10px;
    font-size: 16px;
  }

  .m-product-qty input{
    padding: 5px 10px
  }

  .m-product-qty .quantity-button.quantity-up{
    top: 3px;
    left: -5px;
  }

  .m-product-qty .quantity-button.quantity-down{
    right: 22px;
    top: 2px;
  }

}