/* @media */

@media screen and (max-width: 768px) {
  .m-slide-item img {
    width: : 150%;
    margin-left: auto;
    margin-right: auto;
  }

  .m-service-item {
    display: none;
  }

  .m-slide-item img{
    position: absolute;
    height: 100%;
  }

  .m-service-form-bg .m-img-bg {
    position: absolute;
    width: 106%;
    right: -280px;
    bottom: -90px;
  }

  .m-carousel-control-next-icon {
    margin-right: 10px;
  }

  .m-carousel-control-prev-icon {
    margin-left: 10px;
  }
}