/* @media */

@media screen and (max-width: 768px) {
  .m-shipping-img-item {
    display: none;
  }

  .advantages-text{
    font-size: 16px;
  }

  .section-item-text p,.section-item-text ul li{
    font-size: 15px;
  }

  .section-desc {
    font-size: 16px;
  }
}