.about-bg-img {
  background-image: url(../img/aboutView/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100px; 
  width: 100%; 
}

.about-img {
  width: 90%;
}

.position-img {
  position: relative;
  height: 500px;
}

.about-sertific-img {
  position: absolute;
  height: 100%;
  z-index: 10;
}

.y-class {
  z-index: 100;
  left: 100px;
}