.contact {
  background-image: url(../img/contactView/water-treatment_large.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 480px 160px;
}

.contact-form{
  margin: 10px 0;
  background-image: url(../img/contactView/bg_form.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form-title{
  color: #444;
  margin: 50px 0 35px 0;
  font-size: 25px;
  text-align: center;
}

.contact-form input[type="text"]{
  border: 1px solid #8acdd5;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #8acdd5; 
  color: #444;
  padding-left: 15px;
  height: 40px;
  width: 100%;
}

.contact-form input[type="submit"]{
  background-color: #8acdd5;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  transition: .3s;
}

.contact-form input[type="submit"]:hover{
  background-color: #6aabb3;
}

.contact-seal {
  margin: 15px 0 50px 0;
  position: relative;
}

.contact-seal img{
  width: 25px;
  margin-right: 10px;
  position: absolute;
}

.contact-seal p{
  display: inline-block;
  color: #656565;
  font-size: 15px;
  text-transform: uppercase;
  margin: 3px 0px 0px 30px;
}