.footer{
  background-image: url(../img/contactView/bg_form.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
}

.footer-item-title{
  padding: 10px 0px;
  border-bottom: 1px solid #656565;
  margin-bottom: 15px;
}

.footer-item-title h4{
  font-size: 18px;
  color: #656565;
}

.footer-item{

}

.footer-item li{

}

.footer-item li p, .footer-item li a{
  color: #929292;
  font-size: 14px;
  padding-bottom: 5px;
  display: block;
}
