/*/ Стиль для div*/
.caption{
float: right;
  margin: 50px auto;
}
.caption h5{
  color: grey;
  text-align: center;
  margin: 15px 50px;
}
.first_name{
  padding-left: 5px;
  width: 320px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #6EC0CA;
  box-shadow: 0 0 10px rgba(130,130,130,0.7);
  color: #828282;
}
#item-text{
  margin: 30px auto;
}
#massage{
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #6EC0CA;
  box-shadow: 0 0 10px rgba(130,130,130,0.7);
  color: #828282;
  overflow:hidden;
}
