.calc-cost-container{
  background-image: url(../img/formCalculationCostView/bg_form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.calc-cost-container .calc-cost-title{
  color: #525252;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.calc-cost-box{

}

.calc-cost-box .calc-cost-text{
  color: #525252;
  display: inline-block;
  font-size: 19px;
}

.calc-cost-box .calc-cost-relative{
  position: relative;
}

.calc-cost-box .calc-cost-count{
  color: #525252;
  border: 1px solid #5bb7c2;
  height: 28px;
  padding: 3px 3px 3px 9px;
  position: absolute;
  right: 0;
  width: 60px;
}

.calc-cost-box .scroll{
  border: 1px solid #5bb7c2;
  color: #525252;
  height: 28px;
  margin-top: 20px;
  width: 100%;
}

.calc-cost-box ul li{
  margin-bottom: 10px;
}

.calc-cost-box .calc-cost-contact{
  width: 100%;
  padding: 2px 10px;
  color: #525252;
  border: 1px solid #5bb7c2;
}

.calc-cost-box .calc-cost-btn{
  width: 70%;
  display: block;
  margin: 70px auto 0 auto;
  background-color: #5bb7c2;
  color: #f4f4f4;
  font-weight: 600;
}

.calc-cost-box-table{
  width: 100%;
}

.calc-cost-box-table .calc-cost-box-img-title{
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.calc-cost-box-table .calc-cost-box-img-title img{
  position: absolute;
  bottom: -55px;
  left: -80px;
}

.calc-cost-box-table .calc-cost-icon-desc{
  display: inline-block;
  width: 95px;
}

.calc-cost-box-table .calc-cost-icon-desc img{
  width: 20px;
}

.calc-cost-box-table .calc-cost-icon-desc span{
  font-size: 12px;
  font-weight: 600;
  color: #525252;
}

.calc-cost-box-table .calc-cost-item-desc{
  display: inline-block;
  width: 95px;
}

.calc-cost-box-table .calc-cost-item-total h4{
  font-size: 20px;
  color: #525252;
  margin: 6px 0;
}

.calc-cost-box-table .calc-cost-item-total p{
  font-size: 15px;
  color: #656565;
}
