#header{

}

.header-top-line{
  background-color: #5bb7c2;
  color: #f4f4f4;
}

.header-top-line .text p{
  margin-top: 4px;
}

.header-top-line .phone img{
  width: 13px;
}

.header-top-line .phone ul{
  margin: 8px 0 8px 0;
}

.header-top-line .text-phone p{
  padding: 10px 0 10px 0px;
  display: inline-block;
}

.header-top-line p{
  font-size: 12px;
}

.header-search{

}

.header-search .header-logo img{
  width: 240px;
  margin: 25px 0;
}

.search-input{

}

/* Заменить после добавления Логотипа*/
.search-input .box-search,.header-cart .cart{
  margin: 45px 0;
}

.search-input .box-search{
  border: 1px solid #dcdcdc;
  display: block;
  position: relative;
  border-radius: 3px;
  width: 300px;
  padding: 5px;
}

.search-input .box-search input{
  border: none;
  font-size: 12px;
  padding-left: 10px;
  color: #444;
  width: 90%;
}

.search-input .box-search img{
  width: 15px;
  position: relative;
  bottom: 3px;
}

.header-cart .cart{
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #D0D0D0;
  padding: 7px;
  width: 125px;
  transition: .3s;
}

.header-cart .cart:hover{
  background-color: #dcdcdc;
}

.header-cart .cart div{

}

.header-cart .cart div img{
  width: 15px;
  margin-bottom: 4px;
}

.header-cart .cart div p{
  display: inline-block;
  font-size: 11px;
}