.autoplay-slick-slider {
  margin: 40px 0;
}

.slick-slider-item {
  position: relative;
}

.slick-slider img{
  width: 100px;
  margin-right: 10px;
  display: inline-block;
}

.slide-seal-desc {
  display: inline-block;
  position: absolute;
  top: 25px;
}

.slide-seal-desc h4{
  font-size: 20px;
  color: #656565;
  font-weight: 600;
  margin-bottom: 3px;
}

.slide-seal-desc p{
  font-size: 16px;
  color: #656565;
}