.main-menu {
  background-color: #f4f4f4;
}

.main-menu ul li{
  display: inline-block;
}

.main-menu ul li a{
  display: block;
  padding: 20px 14px;
  text-transform: uppercase;
  color: #656565;
  font-weight: 600;
  transition: .5s;
}

.main-menu ul li a:hover{
  padding-top: 17px;
  background-color: #5bb7c2;
  color: #f4f4f4;
  text-decoration: none;
  border-top: 3px solid #289dab;
}