.product-item {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}

.product-item-img {
  background-color: #f4f4f4;
  border-radius: 2px;
  margin: 10px;
}

.product-item-img img{
  width: 100%;
}

.product-item-title {
  margin: 10px;
}

.product-item-title h4{
  font-size: 14px;
  color: #656565;
}

.product-item-box {
  position: relative;
  margin-top: 20px;
  border-top: 1px solid #dcdcdc;
}

.product-item-box .product-item-cost{
  border-right: 1px solid #dcdcdc;
  display: inline-block;
}

.product-item-cost .price-active{
  color: #57afb9;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.product-item-cost .price{
  color: #57afb9;
  font-size: 16px;
  font-weight: 600;
}

.product-item-cost .discount{
  color: #ababab;
  font-size: 13px;
  text-decoration: line-through;
}

.product-item-box .add-to-cart{
  padding: 10px;
  display: inline-block;
  margin: -5px;
}

.product-item-box .add-cart-box{
  background-color: #f4f4f4;
  transition: .3s;
}

.product-item-box .add-cart-box:hover{
  background-color: #edfbfb;
}

.product-item-box .add-to-cart img{
  width: 25px;
}

/* Слайдер */

.bootstrap-slider-product-hit-sales{
  position: relative;
  padding: 0;
  margin-bottom: 30px;
}

.slider-product-control-prev-icon,.slider-product-control-next-icon {
  background-color: #f4f4f4;
  background-image: url(../img/serviceView/double-right.png);
  padding: 9px;
}

.slider-product-control-prev, .slider-product-control-next {
  position: inherit;
  display: inline-flex;
  left: 85%;
}

.bootstrap-slider-product-hit-sales .slider-product-indicators{
  background: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  text-indent: 10px;
}

.slider-product-indicators .indicators-text{
  color: #656565;
  font-weight: 600;
}

.active.slider-product-indicators .indicators-text{
  color: #57afb9;
}

.bootstrap-slider-product-hit-sales .carousel-indicators{
  top: 0;
  bottom: inherit;
}

.slider-product-control-next-icon .icon-arrow,.slider-product-control-prev-icon .icon-arrow{
  width: 25px;
}