.service-form-bg{
  position: relative;
}

.service-form-bg .img-bg{
  position: absolute;
  width: 50%;
  right: 0px;
}

/* Слайдер */
.slider{
  padding: 0px 1px!important;
}

.slide-item{
  position: relative;
  height: 500px;
}

.slide-item img{
  position: absolute;
}

.slide-item-desc{
  background-color: rgba(0, 0, 0, 0.3);
  height: 500px;
  padding: 30px;
}

.slide-item-desc p, .slide-item-desc h2{
  color: #ffffff;
  font-size: 14px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 0px 0px 2px #000;
}

.slide-item-desc h2{
  font-size: 20px;
}

.carousel-control-next, .carousel-control-prev{
  width: 3%;
  opacity: .7;
}

.carousel-control-next-icon {
  background-image: url(../img/serviceView/double-right.png);
  padding: 20px;
}

.carousel-control-prev-icon {
  background-image: url(../img/serviceView/double-left.png);
  padding: 20px;
}