.section-item-text p,.section-item-text ul li{
  font-size: 17px;
  color:#535252;
}

.shipping-pay-bg-img {
  background-image: url(../img/ShippingPaymentView/water.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 680px;  
}

.shipping-pay-form {
  padding: 20px 0 40px 0;
}

.shipping-pay-form .section-item{
  text-align: center;
}

.message-container{
  padding-top: 35px;
}

.shipping-pay-contact-seal{
  margin: 10px 0;
  position: relative;
}

.shipping-pay-contact-seal img{
  width: 25px;
  margin-right: 10px;
  position: absolute;
}

.shipping-pay-contact-seal p{
  display: inline-block;
  color: #656565;
  font-size: 15px;
  text-transform: uppercase;
  margin: 3px 0px 0px 30px;
}

/* Преимущества */
.advantages {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.advantages-img {
  width: 75px;
  color: #8ACCD4;
  margin-bottom: 15px;
}

.advantages-text{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #656565;
}