.section-header{
  margin-bottom: 20px;
  font-size:30px;
  color:#535252;
  text-transform: uppercase;
}

.selection{
  margin-bottom: 20px;
  font-size:20px;
  color:#535252;
  text-transform: uppercase;
}

.selection-item-text{
  font-size: 10px;
  color:#535252;
}