ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

input{
  outline: none;
}

/*
.container-fluid{
  padding: 0px 1px;
}
*/

.active-menu{
  padding-top: 17px !important;
  background-color: #5bb7c2;
  color: #f4f4f4 !important;
  text-decoration: none;
  border-top: 3px solid #289dab;
}

.section-header, .section-item {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-header{
  color: #656565;
  font-size: 30px;
  margin: 50px 0 20px 0;

}

.section-item {
  color: #656565;
  margin: 20px 0;
  font-size: 24px;
  text-shadow: 1px 1px 0px #ffffff;
}

.section-desc {
  margin: 10px 0;
  color: #656565;
  letter-spacing: 1px;
  font-size: 18px;
}

.section-desc p{
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #ffffff;
}

.link {
  text-decoration: underline;
}

.form-text-submite input[type="text"]{
  border: 1px solid #8acdd5;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #8acdd5; 
  color: #444;
  padding-left: 15px;
  height: 40px;
  width: 100%;
}

.form-text-submite input[type="submit"]{
  background-color: #3f7f8e;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  transition: .3s;
}

.form-text-submite input[type="submit"]:hover{
  background-color: #6aabb3;
}