#header{

}

.header-top-line{
  background-color: #5bb7c2;
  color: #f4f4f4;
}

.header-top-line .text p{
  margin-top: 4px;
}

.header-top-line .phone img{
  width: 18px;
}

.header-top-line .phone ul{
  margin: 8px 0 8px 0;
}

.header-top-line .text-phone p{
  display: inline-block;
  margin-top: 8px;
}

.header-top-line p{
  font-size: 16px;
}

.header-search .header-logo img{
  width: 260px;
  margin: 25px 0;
}

.search-input{

}

.search-input .box-search{
  border: 1px solid #dcdcdc;
  display: block;
  position: relative;
  border-radius: 3px;
  width: 90%;
  padding: 5px;
}

.search-input .box-search input{
  border: none;
  font-size: 12px;
  padding-left: 10px;
  color: #444;
  width: 90%;
}

.search-input .box-search img{
  width: 15px;
  position: relative;
  bottom: 3px;
}

/* Корзина в шапке*/

.container-cart .cart-container-box{
  color: #444;
  text-decoration: none;
}

.container-cart .cart{
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 2px #D0D0D0;
  padding: 7px;
  width: 95%;
  transition: .3s;
}

.container-cart .cart:hover{
  background-color: #dcdcdc;
  color: #111;
}

.container-cart .cart div img{
  width: 15px;
  margin-bottom: 4px;
}

.container-cart .cart div p{
  display: inline-block;
  font-size: 11px;
}

.container-cart{
  position: relative;
  width: 180px;
}

.container-cart .container-cart-count-product{
  background-color: #dc3545;
  border-radius: 50%;
  color: #fff;
  display: none;
  font-size: 14px;
  line-height: 23px;
  height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 20px;
  width: 25px;
}

.cart .container-cart-count-product .cart-count-product{

}

  /* Форма захвата */

.header-target-form{
  background-image: url(../img/headerView/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px;
}

.header-target-form .header-target-form-desc, .header-target-form .header-target-form-title{
  color: #444;
  display: table;
  padding: 5px;
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 0.75);
  margin: 5px;
  font-weight: 500;
}


.header-target-form .header-target-form-title{
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
}
header-target-form-desc{
  font-size: 28px;
}
.header-form{
  background-color: rgba(247, 247, 247, 0.75);
  border-radius: 4px;
}

.header-form ul{
  width: 100%;
  padding: 30px;
}


.header-form ul li{
  padding: 10px 0;
}

.header-form .header-form-img{
  position: relative;
}

.header-form .header-form-img img{
  display: block;
  position: relative;
  top: 15px;
  right: 75px;
  width: 132%;
}