.quantity {
  position: relative;
  margin-top: 4px;
  width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  border: 2px solid #5bb7c2;
  color: #656565;
  float: left;
  display: block;
  padding: 10px 25px;
  text-align: center;
  width: 100px;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  color: #5bb7c2;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  width: 20px;
  text-align: center;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  top: 7px;
  left: -5px;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 50px;
  top: 7px;
}