.main-menu {
  background-color: #f4f4f4;
}

.main-menu .active-menu{
  padding-top: 17px;
  background-color: #5bb7c2;
  color: #f4f4f4;
  text-decoration: none;
  border-top: 3px solid #289dab;
}

.main-menu ul li{
  display: inline-block;
  position: relative;
}

.main-menu ul li a, .header-submenu li a{
  color: #656565;
  display: block;
  font-weight: 600;
  padding: 20px 14px;
  position: relative;
  text-transform: uppercase;
  transition: .5s;
}

.main-menu ul li a:hover{
  padding-top: 17px;
  background-color: #5bb7c2;
  color: #f4f4f4;
  text-decoration: none;
  border-top: 3px solid #289dab;
}

.main-menu ul li a:hover + .header-submenu{
  display: block;
}

.header-submenu{
  background-color: #f4f4f4;
  display: none;
  position: absolute;
  z-index: 10;
  font-size: 14px;
}

.header-submenu:hover{
  display: block;
}

.main-menu .header-submenu li{
   display: block;
}

.main-menu .header-submenu li a:hover{
  background-color: #5bb7c2;
  border: none;
  color: #f4f4f4;
  padding: 20px 14px;
  text-decoration: none;
}

.header-submenu-item-container{
  width: 200px;
}

.header-submenu-col{
  display: table-cell;
}

/*mobile menu*/
.m-main-menu{
  display: block!important;
  position: absolute;
  z-index: 10;
  padding-left: 0;
  background-color: transparent;
}

.m-main-menu>.container{
  position: relative;
}

.m-main-menu ul{
  background-color: #f4f4f4;
  position: inherit;
}

.m-main-menu ul li{
  display: inline;
  position: inherit;
}

.m-main-menu .m-menu-icon-arrow{
  position: absolute;
  right: 10px;
  width: 20px;
}

.m-main-menu .header-submenu{
  top: 0;
}

.m-main-menu ul li a:hover + .header-submenu{
  display: none;
}

.m-main-menu ul li a, .m-main-menu .header-submenu li a{
  transition: 0s;
}

/*Иконка крестика в мобильной версии*/
.m-menu-icon{
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.m-menu-icon .icon-item-1,
.m-menu-icon .icon-item-2,
.m-menu-icon .icon-item-3{
  background-color: #5bb7c2;
  height: 3px;
  margin: 6px 0;
  transition: .4s;
  width: 35px;
}

.m-menu-open .icon-item-1{
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.m-menu-open .icon-item-2{
  opacity: 0;
}

.m-menu-open .icon-item-3{
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*Иконка стрелочки в мобильной версии*/
.m-menu-back .icon-item-1{
  -webkit-transform: rotate(-45deg) translate(-2px, 0px);
  transform: rotate(-45deg) translate(-2px, 0px);
  width: 20px;
}

.m-menu-back .icon-item-2{
  opacity: 1;
}

.m-menu-back .icon-item-3{
  -webkit-transform: rotate(45deg) translate(-2px, -0px);
  transform: rotate(45deg) translate(-2px, 0px);
  width: 20px;
}