.product-item {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}

.product-item-img {
  border-radius: 2px;
  margin: 10px;
}

.product-item-img>a {
  display: block;
  height: 240px;
  overflow: hidden;
}

.product-item-img img{
  height: 100%;
  display: block;
  margin: 0 auto;
}

.product-item-title {
  margin: 10px;
}

.product-item-title h4{
  font-size: 14px;
  color: #656565;
}

.product-item-box {
  position: relative;
  margin-top: 20px;
  border-top: 1px solid #dcdcdc;
}

.product-item-box .product-item-cost{
  border-right: 1px solid #dcdcdc;
  display: inline-block;
}

.product-item-cost .price-active{
  color: #57afb9;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.product-item-cost .price{
  color: #57afb9;
  font-size: 16px;
  font-weight: 600;
}

.product-item-cost .discount{
  color: #ababab;
  font-size: 13px;
  text-decoration: line-through;
}

.product-item-box .add-to-cart{
  padding: 10px;
  display: inline-block;
  margin: 0 -6px;
}

.product-item-box .add-cart-box{
  background-color: #f4f4f4;
  transition: .3s;
}

.product-item-box .add-cart-box:hover{
  background-color: #edfbfb;
}

.product-item-box .add-to-cart img{
  width: 25px;
}

/* Слайдер */

.bootstrap-slider-product-hit-sales{
  position: relative;
}

.slider-product-control-prev-icon,.slider-product-control-next-icon {
  background-color: #f4f4f4;
  background-image: url(../img/serviceView/double-right.png);
  padding: 9px;
}

.slider-product-control-prev, .slider-product-control-next {
  position: inherit;
  display: inline-flex;
  left: 90%;
}

.bootstrap-slider-product-hit-sales .slider-product-indicators{
  background: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  text-indent: 10px;
}

.slider-product-indicators .indicators-text{
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.active.slider-product-indicators .indicators-text{
  color: #57afb9;
}

.bootstrap-slider-product-hit-sales .carousel-indicators{
  top: 0;
  bottom: inherit;
}

.slider-product-control-next-icon .icon-arrow,.slider-product-control-prev-icon .icon-arrow{
  width: 25px;
}

/*Слайдер product List*/
.product-list-row {
  margin-bottom: 40px;
}


/*Страница информации о продукте*/
.product-single-container .product-config{
  width: 100%;
  margin-bottom: 30px;
}

.product-single-container .include-with-product{
  margin-bottom: 160px;
}

.product-config .include-with-product .include-with-product-label{
  color: #656565;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}

.product-config .include-with-product .include-with-product-count{
  color: #656565;
  font-size: 18px;
  text-align: center;
}

.product-config .include-with-product .include-with-product-img img{
  width: 75px;
}

.product-config .product-single-img{
  border: 2px solid #58b9c4;
  margin-right: 15px;
}

.product-config .product-single-img img{
  height: 500px;
  margin: 0 auto;
  display: block;
}

.product-config .product-single-price{
  color: #656565;
  font-size: 20px;
  margin: 40px 0;
  text-transform: uppercase;
}

.product-config .product-single-price span{
  font-size: 24px;
  color: #4e4e4e;
  font-weight: 500;
}

.product-config .product-single-btn{
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.product-feature{
  margin-bottom: 30px;
}

/*Admin page*/
.btn-product-new-item{
  margin: 25px 0;
  width: 100%;
}

.btn-product-new-item-del{
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  padding: 3px 7px;
  position: relative;
  top: 5px;
  transition: .3s;
}

.btn-product-new-item-del:hover{
  background-color: #ef6767;
  color: #f4f4f4;
}

/*Правое меню*/
.admin-product-right-menu-container{
  display: block;
  position: fixed;
  top: 11%;
  right: 30px;
}

.admin-product-right-menu-container li a{
  display: block;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-decoration: none;
}