.service-form-bg{
  position: relative;
}

.service-form-bg .img-bg{
  position: absolute;
  width: 50%;
  right: 0px;
}

.service-category-desc {
  padding-bottom: 35px;
}

.service-category-empty{
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
  color: #656565;
  letter-spacing: 20px;
}

/*Service category*/
.service-section-title{
  color: #444;
  font-size: 20px;
  margin: 15px 0 0 0;
}

.service-section-desc{
  color: #656565;
  font-size: 16px;
  padding: 10px 0;
}

/* Слайдер */
.slider{
  padding: 0px 1px!important;
}

.slide-item{
  position: relative;
  height: 500px;
}

.slide-item img{
  position: absolute;
  width: 100%;
}

.slide-item-desc{
  background-color: rgba(0, 0, 0, 0.3);
  height: 500px;
  padding: 30px;
}

.slide-item-desc p, .slide-item-desc h2{
  color: #ffffff;
  font-size: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-shadow: 0 0 2px #000;
}

.slide-item-desc h2{
  font-size: 20px;
  text-transform: uppercase;
}

.carousel-control-next, .carousel-control-prev{
  width: 4%;
  opacity: .7;
}

.carousel-control-next-icon {
  background-image: url(../img/serviceView/double-right.png);
  padding: 20px;
}

.carousel-control-prev-icon {
  background-image: url(../img/serviceView/double-left.png);
  padding: 20px;
}