ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

input{
  outline: none;
}

.section-header, .section-item {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-header{
  color: #656565;
  font-size: 30px;
  margin: 50px 0 20px 0;
}

.section-header-h3{
  color: #525252;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.section-item {
  color: #656565;
  margin: 20px 0;
  font-size: 24px;
  text-shadow: 1px 1px 0 #ffffff;
}

.section-desc {
  margin: 10px 0;
  color: #656565;
  letter-spacing: 1px;
  font-size: 18px;
}

.section-desc p{
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #ffffff;
}

.link {
  text-decoration: underline;
}

/*INPUT type=TEXT*/
.form-text-submit input[type="text"],.form-text-submit input[type="tel"]{
  border: 1px solid #8acdd5;
  border-radius: 3px;
  box-shadow: 0 0 1px #8acdd5;
  color: #444;
  padding-left: 15px;
  height: 40px;
  width: 100%;
}

.form-text-submit input[type="submit"]{
  background-color: #5bb7c2;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  transition: .3s;
}

.form-text-submit input[type="submit"]:hover{
  background-color: #289dab;
}

.hr-blue{
  background-color: #289dab;
  height: 2px;
  margin-bottom: 50px;
}

/*CHECKBOX*/
.label-input{
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

.label-input:before {
  content: "";
  display: inline-block;

  width: 16px;
  height: 16px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px #5bb7c2;
}

.radio-container .label-input:before {
  border-radius: 8px;
}

input[type=checkbox],input[type=radio] {
  display: none;
}

input[type=radio]:checked + .label-input:before {
  content: "\2022";
  color: #5bb7c2;
  font-size: 30px;
  text-align: center;
  line-height: 11px;
}

.checkbox-container .label-input:before {
  border-radius: 3px;
}

input[type=checkbox]:checked + .label-input:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: #5bb7c2;
  text-align: center;
  line-height: 15px;
}
